.container {
  position: relative;
  flex: 1 1 352px;
  border: 1px solid var(--harmony-n-100);
  background-color: var(--harmony-white);
  box-shadow: var(--harmony-shadow-mid);
  display: flex;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  transition: var(--harmony-hover);
  user-select: none;
  margin: 0px auto 12px;
}

.container.readonly {
  margin: 0;
  max-width: none;
  min-width: 448px;
  border: none;
  box-shadow: none;
}

.container:hover,
.container:active {
  transform: scale(1.004);
  box-shadow: var(--harmony-shadow-far);
}

.container .artworkIcon {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: var(--harmony-unit-1);
  opacity: 0;
  transition: opacity 0.18s ease-in-out;
}

.container .artworkIcon circle {
  opacity: 0;
}

.container:hover .artworkIcon {
  opacity: 0.75;
}

.container .artworkIcon path {
  fill: var(--harmony-static-white);
}

.mainContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  position: relative;
}

.rightContent {
  display: flex;
  flex-direction: column;
  flex: 0 0 53px;
}

.rightContent > *:last-child {
  border-bottom: 0px;
}

.metadata {
  display: flex;
  flex: 0;
}

.duration {
  position: absolute;
  right: 10px;
  top: 10px;
}

.readonly .statItem:active {
  color: unset;
  transform: scale(1);
}

.overflowButton {
  position: relative;
  top: -2px;
}

.skeleton {
  position: absolute;
  top: 0;
}

.albumArtContainer {
  height: 72px;
  margin: 10px 12px 0px 10px;
}

.iconVerified {
  flex: 0 0 14px;
  margin-left: 4px;
}

/* Track Item */
.trackItem {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 28px;
  line-height: normal;
  font-size: var(--harmony-font-xs);
  overflow: hidden;
  padding: 12px;
  font-weight: var(--harmony-font-medium);
}

.trackItem .index {
  color: var(--harmony-n-400);
  margin-right: 4px;
  flex: 0 0;
}

.trackItem .trackTitle {
  color: var(--harmony-neutral);
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 4px;
}

.trackItem .byArtist {
  color: var(--harmony-n-400);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.trackItem.activeTrackItem .index,
.trackItem.activeTrackItem .trackTitle,
.trackItem.activeTrackItem .byArtist {
  color: var(--harmony-primary);
}

.trackItem.deletedTrackItem .index,
.trackItem.deletedTrackItem .trackTitle,
.trackItem.deletedTrackItem .byArtist,
.trackItem.deletedTrackItem .deletedTrack {
  color: var(--harmony-text-subdued);
}

.trackItemDivider {
  margin: 0px 11px;
  width: calc(100% - 22px);
  border-top: 1px solid var(--harmony-n-100);
}

.trackItemMore {
  color: var(--harmony-n-400);
}

.hide {
  opacity: 0 !important;
}

.show {
  opacity: 1;
  transition: opacity ease-in-out 0.5s;
}
