.historyPageWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Body Content Wrapper */
.bodyWrapper {
  flex: 1;
  overflow-y: auto;
  padding: 0 24px;
}

/* Track Table */
.bodyWrapper .tableWrapper {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 5px -2px var(--tile-shadow-3);
  background-color: var(--harmony-white);
  margin-bottom: 35px;
  padding-bottom: 5px;
  overflow: hidden;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-top: 16px;
}

.spinner g path {
  stroke: var(--harmony-secondary) !important;
}

.loadingMore {
  margin: 16px auto;
  display: flex;
  justify-content: center;
}

.historyPageHeader {
  padding: 0 24px;
}
